In [13]:
# Lists:   append and extend
lst =["one","two","three"]
lst2 =["four","five"]

In [9]:
lst.append(lst2)

In [10]:
print(lst)

['one', 'two', 'three', ['four', 'five']]

In [14]:
lst.extend(lst2)

In [15]:
print(lst)

['one', 'two', 'three', 'four', 'five']

In [16]:
lst =["one","two","three","four","five"]

In [17]:
del lst[1]
print(lst)

a=lst.pop(1)
print(a)

print(lst)

['one', 'three', 'four', 'five']
three
['one', 'four', 'five']

In [21]:
lst =["one","two","three","four","five"]
lst.remove("three")
print(lst)

['one', 'two', 'four', 'five']

In [36]:
# Reverse the list:

lst =["one","two","three","four","five"]
#    lst[::-1]
#       or
#    lst.reverse()
print(lst)

['five', 'four', 'three', 'two', 'one']

In [37]:
# keyword in is used in list to check either its there in list or not:
lst =["one","two","three","four","five","six"]

if "two" in lst:
    print("AWS")
if "six" in lst:
    print("ML")
# .lower() converts into lower and check it:
if "Three".lower() in lst:
    print("AI")
if "seven" not in lst:
    print("web development")

AWS
ML
AI
web development

In [40]:
# sorting of list:
lst =[1,4,2,7,5,9,3,5]
print(set(sorted(lst)))

{1, 2, 3, 4, 5, 7, 9}

In [52]:
# reverese of the list:
lst =[1,4,2,7,5,9,3,5]

# this is descending order:
print("sorted_list:",sorted(set(lst),reverse=True))

# this is ascending order: 
lst.sort()
print(lst)

sorted_list: [9, 7, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 5, 7, 9]

In [53]:
lst =[1,2,3,2.6,"a"]
print(lst.sort())

TypeError: '<' not supported between instances of 'str' and 'float'

In [1]:
# Multiple References:

lst=[1,2,3,4,5]
my_list = lst        # if u do any changes it affects original list   
my_list.append(6)
 
print('original_list: ',lst)

original_list:  [1, 2, 3, 4, 5, 6]

In [6]:
# string split and create List:
s = "one,two,three,four,five"
slist = s.split(",")
print(slist)

my_string = "this is applied ML course"
my_list = my_string.split()
print(my_list)

['one', 'two', 'three', 'four', 'five']
['this', 'is', 'applied', 'ML', 'course']

In [10]:
# list indexing:
lst = [1,23,34,35]
#lst[2]

# print last element in list using -ve num:
print(lst[-1])

35

In [20]:
# List slicing:
 
numbers = [10, 20, 30, 40, 50,60,70,80]
print(numbers[::])
# print elements from index 0 to 3:
print(numbers[0:4])
# print alternate numbers in the list:
print(numbers[::2])
# print elements start from 0 through rest of the list:
print(numbers[0::])

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 20, 30, 40]
[10, 30, 50, 70]
[10, 20, 30, 40, 50, 60, 70, 80]

In [21]:
# list extend using +:
lst = [1,2,3,4]
lst1 = ["five","six"]
new_list = lst + lst1
new_list

[1, 2, 3, 4, 'five', 'six']

In [26]:
# list count:
lst =[1,2,4,2,5,6,4,6,7,8,9,10,101,101,10,101,7,7,8,3,3,3]

# frequency of 3 in list:
print(lst.count(3))

# frequency of 10 in list:
print(lst.count(10))

3
2

In [28]:
# list looping:
lst = ["one","two","three",4,5,6,7.23,891011]
for i in lst:
    print(i)

one
two
three
4
5
6
7.23
891011

In [33]:
lst = [1,2,3,4,5,6,7,8,9,10]

In [34]:
print(list(map(lambda x:x**2,lst)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [37]:
print(list(filter(lambda x:(x%2==0),lst)))

[2, 4, 6, 8, 10]

In [42]:
# print first 10 numbers of squares:
lst = []
for i in range(10):
    lst.append(i**2)
print(lst)

squares = [i**2 for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [50]:
lst = [-10,-20,10,20,50]

# double the values and display it:
double = [i*2 for i in lst]
print(double)

# filter the numbers in the list and display only +ve nums:
print(list(filter(lambda x:x>=0,lst)))

# create tuples:(number,square_number):
tup = [(i ,i**2) for i in lst]
print(tup)

[-20, -40, 20, 40, 100]
[10, 20, 50]
[(-10, 100), (-20, 400), (10, 100), (20, 400), (50, 2500)]

In [57]:
# list comprehensions:
matrix =[[1,2,3,4],
         [5,6,7,8],
         [9,10,11,12]]

transposed =[]
for i in range(4):
    lst=[]
    for row in matrix:
        lst.append(row[i])
    transposed.append(lst)
    
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [58]:
transposed = [[row[i] for row in matrix]for i in range(4)]
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [60]:

matrix = [

[1, 2, 3, 4],

[2, 3, 4, 5],

[3, 4, 5, 6]]

transposed = []

for i in range(4):
    print("we are going to take the ",i,"th element of each row")
    
    lst = []
    
    for row in matrix:

        print("the row we are considering :", row, "and we are going to add", row[i],"to a temporary list")

        lst.append(row[i])

    print("the ",i,"th column elements = ", i ,"th elements in every row are =", lst)
    
    transposed.append(lst)

    print("="*50)

print(transposed)

we are going to take the  0 th element of each row
the row we are considering : [1, 2, 3, 4] and we are going to add 1 to a temporary list
the row we are considering : [2, 3, 4, 5] and we are going to add 2 to a temporary list
the row we are considering : [3, 4, 5, 6] and we are going to add 3 to a temporary list
the  0 th column elements =  0 th elements in every row are = [1, 2, 3]
==================================================
we are going to take the  1 th element of each row
the row we are considering : [1, 2, 3, 4] and we are going to add 2 to a temporary list
the row we are considering : [2, 3, 4, 5] and we are going to add 3 to a temporary list
the row we are considering : [3, 4, 5, 6] and we are going to add 4 to a temporary list
the  1 th column elements =  1 th elements in every row are = [2, 3, 4]
==================================================
we are going to take the  2 th element of each row
the row we are considering : [1, 2, 3, 4] and we are going to add 3 to a temporary list
the row we are considering : [2, 3, 4, 5] and we are going to add 4 to a temporary list
the row we are considering : [3, 4, 5, 6] and we are going to add 5 to a temporary list
the  2 th column elements =  2 th elements in every row are = [3, 4, 5]
==================================================
we are going to take the  3 th element of each row
the row we are considering : [1, 2, 3, 4] and we are going to add 4 to a temporary list
the row we are considering : [2, 3, 4, 5] and we are going to add 5 to a temporary list
the row we are considering : [3, 4, 5, 6] and we are going to add 6 to a temporary list
the  3 th column elements =  3 th elements in every row are = [4, 5, 6]
==================================================
[[1, 2, 3], [2, 3, 4], [3, 4, 5], [4, 5, 6]]