In [1]:
# sets: these are unique and unordered and mutable
      # these are used to do mathematical operations like union,intersection,..

In [ ]:
# union:  |
# Difference : -
# intersection : &
# symmetric_difference : ^

In [7]:
s = {1,2,3}
print(s)

print(type(s))

{1, 2, 3}
<class 'set'>

In [8]:
# sets are unique:
s = {1,1,1,1,1,1,1}
s

{1}

In [9]:
# make set from list:
s = set([1,2,3,4,5,5])
s

{1, 2, 3, 4, 5}

In [10]:
# initialize a set with set() method
s  = set()
type(s)

set

In [36]:
s = {1,3}
 
# s[1]:it gives an error sets are unordered and dosent support indexing

In [37]:
# add element to set:
s.add(12)

# we can add multiple elements:
s.update([2,4,5])

# add list and set
s.update([14,15,16],{11,12,13})

# Removes an element: remove and discard 
s.remove(1)
  # OR
s.discard(2)

s

{3, 4, 5, 11, 12, 13, 14, 15, 16}

In [43]:
# the difference between discard and remove.
# remove if element doesnt exist it will give an error
# discard it wont give an error even if value doesnt exist


s.remove(123)

KeyError: 123

In [44]:
s.discard(123)
s

{3, 4, 5, 11, 12, 13, 14, 15, 16}

In [45]:
# pop method: it removes an element randomly

s = {1,2,3,5,4}
s.pop()

1

In [49]:
# clear: it removes all elements in set
s ={1,2,3,4,5,6}

s.clear()
print(s)

set()

In [50]:
s1 = {1,2,3,4,5}
s2 = {6,7,8,9,10}  

# union of 2 sets using | operator:
print(s1|s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [51]:
s1 = {1,2,3,4,5}
s2 = {6,7,8,9,10}  

s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [54]:
s1 = {1,2,3,4}
s2 = {2,4,5,6}

# difference: it will display s1 elements after removing from s2
s1.difference(s2)  # or s1-s2

{1, 3}

In [73]:
s1 = {1,2,3,4}
s2 = {2,4,5,6}

s1.difference_update(s2) # or s1 -=s2
s1

{1, 3}

In [56]:
s1 = {1,2,3,4}
s2 = {2,4,5,6}

#intersection: 
s1.intersection(s2)  # or s1&s2

{2, 4}

In [58]:
a = {1, 2, 3, 4}
b = {2, 3, 4, 5}
c = {3, 4, 5, 6}
d = {4, 5, 6, 7}

a.intersection(b,c,d) # or a & b & c & d

{4}

In [72]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'baz', 'qux'}

x1.intersection_update(x2) # or x1 &=x2
x1

{'baz', 'foo'}

In [60]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}

# symmetric_difference: it gives elements which are not common in both sets
x1.symmetric_difference(x2)  # or x1 ^ x2

{'bar', 'foo', 'quux', 'qux'}

In [75]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'baz', 'qux'}

x1.symmetric_difference_update(x2) # or x1^=x2
x1

{'bar', 'qux'}

In [62]:
# isdisjoint: Determines whether or not two sets have any elements in common.
a = {1, 2, 3, 4}
b = {2, 3, 4, 5}

a.isdisjoint(b)

False

In [66]:
# isdisjoint gives only true when there is empty set:no common elements
a = {1, 2, 3, 4}
b = {5, 6, 7, 8}

a.isdisjoint(b)

True

In [81]:
x = {"a","b","c","d","e"}
y = {"c","d"}
print(" x is subset of y :",y.issubset(x))
print(" x is subset of y :",x.issuperset(y))
print(" x is subset of y :",x.isdisjoint(y))

 x is subset of y : True
 x is subset of y : True
 x is subset of y : False

In [83]:
# frozen sets: immutable
# we cant add elements and we cant do indexing
# we can do union,intersection,symmetricdifference,.....
x1 = frozenset(['foo'])
x2 = frozenset(['bar'])
x3 = frozenset(['baz'])
x = {x1, x2, x3}
x

{frozenset({'baz'}), frozenset({'bar'}), frozenset({'foo'})}