In [2]:
# tuples are immutable:
# mutable: we can change the elements     ex:Lists 
# immutable : we cant change the elements ex:tuples

In [8]:
# empty Tuple
t = ()

# Tuple having integers:
t = (1,2,3)
print(t)

# Tuple with various data types:
t = (1,"vikas",12.90)
print(t)

# nested Tuple:
t = ((1,2,3),("vikas","dhoni"),102.90)
print(t[1])

# t(1) ="cricket" : it gives error because tuple is immutable

(1, 2, 3)
(1, 'vikas', 12.9)
('vikas', 'dhoni')

In [15]:
# there are only two methods in tuples: count,index
t=(1,2,3,4,5,6,7,8)
t.count(1)
t.index(1)

0

In [30]:
t = ((1,2,3),("vikas","dhoni"),102.90)

In [31]:
t[0][1]
t[1][1]

'dhoni'

In [35]:
#only type can recognized by the comma either string or tuple:

tup = ("Mahendra Singh Dhoni")
print(type(tup))
t = ("Mahendra Singh Dhoni",)
print(type(t))
t = "Mahendra Singh Dhoni",
print(type(t))

<class 'str'>
<class 'tuple'>
<class 'tuple'>

In [36]:
t = (1,2,3,4,5,6,7)
t[1:4]

(2, 3, 4)

In [45]:
t[:-1]

(1, 2, 3, 4, 5, 6)

In [46]:
# concatinating tuples:
t = (1,2,3)+(4,5,6)

In [47]:
t

(1, 2, 3, 4, 5, 6)

In [48]:
t = (1,2,3,4,5,6,7,8,9)
t

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [49]:
del t

In [51]:
t # its no more longer defined because we have deleted it.

NameError: name 't' is not defined

In [54]:
t = (("vikas",) *5) # if we remove comma then it will give in string
t

('vikas', 'vikas', 'vikas', 'vikas', 'vikas')

In [55]:
t = (1,2,3,4,5,6)

print(7 in t)

False

In [57]:
print(1 in t)

True

In [58]:
len(t)

6

In [63]:
print(sorted(t))

[1, 2, 3, 4, 5, 6]

In [64]:
min(t)

1

In [65]:
max(t)

6

In [66]:
sum(t)

21